version: "3.2"
services:
  db:
    image: mdillon/postgis:10
    environment:
      POSTGRES_DB: swap
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: pass
    ports:
      - "5432:5432"
    networks:
      - main
  app:
    build:
      context: .
      args:
        pipenv_arg: --dev
    environment:
      - DJANGO_SETTINGS_MODULE=swap.settings.local
    volumes:
      - ./swap:/app
    networks:
      - main
    depends_on:
      - db
  nginx:
    image: nginx
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - ./swap/static:/usr/share/nginx/swap/static
    ports:
      - "80:80"
    networks:
      - main
    depends_on:
      - app

networks:
  main: