[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.1.1"
django-maintenance-mode = "==0.10.0"
pytz = "==2018.5"
psycopg2-binary = "*"

[dev-packages]
black = "==18.6b4"
django-debug-toolbar = "==1.10"
isort = "*"
pre-commit = "==1.11.0"

[requires]
python_version = "3.7"
