[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.1.1"
django-localflavor = "==2.1"
django-maintenance-mode = "==0.10.0"
freezegun = "*"
psycopg2-binary = "*"
pytz = "==2018.5"

[dev-packages]
black = "==18.6b4"
coverage = "*"
codecov = "*"
django-debug-toolbar = "==1.10"
isort = "*"
mock = "*"
pre-commit = "==1.11.0"
PyHamcrest = "*"

[requires]
python_version = "3.7"
